body{
    background-color: #000000;
}
.name{
    text-align: center;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #000;
    padding-bottom: 200px;
    padding-top: 200px;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #fff;
    background-image: url(./images/mushrooms.webp);
    margin-top: 0px;
}

.title{
    text-align: center;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #ffffff;
    padding-bottom: 0%;
    background-color: #000;
    margin-top: 0;
}
.nav {
    background-color: #000;
    overflow: hidden;
    
  }
  
.nav a { 
    float: right;
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px
  }
  
.nav a:hover {
    background-color: #000;
    color: #fff;
    border-bottom: 5px solid #fff;
  }

.nav a.active{
    background-color: #000;
    color: white;
}

.nav .icon{
    display: inline;
    color: #fff;
}

@media screen and (max-width: 600px) {
    .nav a:not(:first-child) {display: none;}
    .nav a.icon {
      float: right;
      display: block;
    }
  }

  @media screen and (max-width: 600px) {
    .nav.responsive {position: relative;}
    .nav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .nav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
  
#About, #Projects, #Goals, #Contact{
    text-align: center;
    font-size: 50px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ffffff;
    margin-bottom: 0;
    background-image: url(./images/mushrooms.webp);
    border-bottom: 15px solid #000;
    
}

p{
    text-align: center;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    margin-top: 15px;
}

li{
    text-align: center;
}

button{
    background-color: #000000; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: 5px 5px 25px 1px rgba(0,0,0,0.25);
    cursor: pointer;
    outline: 0;
    transition: 0.3s linear;
    margin-bottom: 15px;
    margin-top: 15px;
}
button#clickhere:active {
    transform: scale(0.85);
    box-shadow: 3px 2px 25px 1px rgba(0,0,0,0.25);
}